body {
	background: rgb(243,243,243);
}

::-webkit-scrollbar {
	width: 0;
}

#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 7px;
	border-radius: 10px;
	background: gray;
	z-index: 20000000;
}

.menu-drop {
	top: 230px;
	z-index: 888;
}

.menu-drop ul li {
	background: #FFA500;
	float: left;
	width: 200px;
	height: 40px;
	display: inline-block;
	text-align: center;
	box-shadow: 0.2em 4px #FF4500;
	line-height: 40px;
	font-size: 16px;
	position: relative;
	color: #363636;
	font-family: "arial";
	font-weight: 700;
}

li {
	margin-right: 8px;
}

.menu-drop ul li:hover {
	background-color: #FF8C00;
	text-decoration: none;
}

.menu-drop ul {
	padding: 0;
}

.menu-drop ul ul {     
	display: none;
	position: relative;
	right: 0px;
}

.menu-drop ul li:hover > ul {
	display: block;
}

.menu-drop ul ul ul {
	margin-left: 202px;
	top: 0px;
	position: absolute;
	left: 0px;
}

#check {
	display: none;
}

#icone {
	cursor: pointer;
	padding: 15px;
	position: absolute;
	z-index: 200001;
}

.barra {
	background: #333;
	height: 100%;
	width: 300px;
	position: absolute;
	transition: all .2s linear; 
	left: -300px;
	z-index: 200000;
}

nav {
	width: 100%;
	position: absolute;
	top: 60px;
}

nav a{
	text-decoration: none;
}

.link {
	background-color: #494950;
	padding: 20px;
	font-family: 'Arial';
	font-size: 12pt;
	transition: all .2s linear;
	color: #F4F4F9;
	border-bottom: 2px solid #222;
	z-index:9999;
	opacity: 0;
	margin-top: 200px;
}

.link:hover {
	background-color: #FFA500;

}

#check:checked ~ .barra {
	transform: translateX(300px);
	position: fixed;
}

#check:checked ~ .barra nav a .link {
	opacity: 1;
	margin-top: 0;
	transition-delay: .2s;
}

.img-principal{
	display: block;
    margin-left: auto;
    margin-right: auto;
    -moz-user-select: none;
    user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}

.img-SOlaris { 
	width: 1340px; 
	padding: 10px;
	background:	black;
	display: flex;
	height: 260px;
	-moz-user-select: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}

header {
	background: black;
}



#redes-sociais {
	margin: 50px auto;
	width: 1025px;
	height: 150px;
	z-index: 2;
	top: 1350px;
	position: absolute;
	left: 10%;
	-moz-user-select: none;
    user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;

}

.rede {
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 64px;
	transition: all 0.4s ease-out;
	border-radius: 50%;
}

.rede:hover {
	cursor: pointer;
	transform: translateY(-20px);
	box-shadow: 4px 30px 16px 0px rgba(50, 50, 50, 0.45);
}

.rede#facebook {
	background-color: #2372A3; 
}

.rede#twitter {
	background-color: #0084B4; 
}

.rede#instagram {
	background-color: #3F729B;
}

.rede#snap {
	background-color: #FC0;
}

.rede#plus {
	background-color: #DD4B39;
}

.rede#youtube {
	background-color: #B00;
}

.icone {
	margin: 0px auto;
	padding: 26px;
	width: 46px;
	height: 46px;
}

.btn-voltar {
	display: none;
	position: fixed;
	bottom: 4%;
	right: 1%;
	padding: 30px;
	cursor: pointer;
}

.btn {
	font-family: arial;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	padding: 10px 35px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	position: relative;
	top: 245px;
	margin: 0 15px;
}

.btn-orange {
	background: #FFA500;
	color: #363636;
	box-shadow: 0.2em 4px #FF4500;
}

.btn-orange:active {
	top: 250px;
	box-shadow: none;
}


h1{
	text-align: center;
	color: lightgray;
	font-size: 50px;
	font-style:bold;
	text-transform: uppercase;
	font-weight: 900s;

}
 p{

	font-size: 40px;
	color: black;

}
.cla{font-size: 50px;}


.taxa{

	text-align: center;
	color: 	#4F4F4F;
	font-size: 30px;
	padding top:30px;
}

.produtos {
	width: 940px;
	margin:0px auto;
	padding: 50px 0px;
}
.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding:30px 20px;
	box-sizing: border-box;
	border:2px solid white;
	border-radius: 10px;
}

.produtos li:hover{
	border-color: black;
}

.produtos li:active{
	border-color: darkorange;
}

h2{font-size: 40px;
color: 	#8B0000}


.produto-descricao{
	font-size: 18px;
}

.descricao {
	font-size: 20px;
	color:#00BFFF;
}

.produto-preco {
 	font-size: 25px; 
 	font-weight: bold;
 	margin-top: 10px;
}

.tx{

	text-align: center;
	font-size: 20px
}

#zip{

	width: 500px;
	height: 500px; }

.padding{

	margin-top: 500px;
}

.chue{background: white;
	padding:50px;
}

#lil{width: 400px;
height: 400px;}

#x{font-style:bold;
	text-transform: uppercase;
	font-weight: 900px;
	color: black;}

.nas{
	font-size: 35px;
	font-style:bold;
	text-transform: uppercase;
	font-weight: 900s;
	color: black;

}
.enviar{
	margin-bottom: 25px;
	position: absolute;
	top: 800px;
	right: 500px;
	text-align: center;
	width: 200px;
	padding: 15px 0px;
	background:black;
	color:white;
	font-weight: bold;
	font-size: 18px;
	border:none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
	text-decoration: none;
}

.enviar:hover{
	background:white;
	transform:scale(1.2);
	color: black;
}

.evi{position: absolute;	
	text-align: center;
	left: 530px;
	width: 200px;
	padding: 15px 0px;
	background:black;
	color:white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
	text-decoration: none;}


.evi:hover{
	background:lightgray;
	transform:scale(1.2);
	color: black;}


.ajuda{

	background: lightgray;
	padding: 200px;


}

.help{

	font-size: 35px;
	color: black;
	font-style: bold;
	text-align: center;

}

.hp{font-size: 30px;
	color: black;
	font-style: bold;
	text-align: center;}


	.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 20px;
	width: 50%
}

.xaxa{
	margin-left: 20px;
	margin-top: 15px;
}

.checkbox{
	margin: 20px 0;
}

.mensage{
	margin-top: 30px;

}

.solaris-trans {
	z-index: 1;
	position: absolute;
	left: 30%;
	top: 900px;
	-moz-user-select: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}

.rodape-pg {
	width: 1360px;
	height: 700px;
	-moz-user-select: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}


@media (max-width: 620px) {
	.img-SOlaris {
		width: 100%;
		height: 100%;
	}

	.img-principal {
		width: 100%;
		height: 100%;
	}

	.anuncio {
		width: 100%;
		height: 100%;
	}


}